<div align="center">
    <!-- Filter inventoryItems -->
    <div class="divSurroundSearchFilter">
        <div class="divSearchFilter">
            Searchfilter: <input class="searchFilterInput" ng-model="inventoryItems.query" />
        </div>
    </div>
    <!-- Filter inventoryItems end -->
    <table class="tableInventoryList">
        <tr>
            <th ng-repeat="(key, value) in inventoryItems[0]">{{key}}</th>
        </tr>
        <tr ng-repeat="inventoryItem in inventoryItems | filter:inventoryItems.query">
            <td ng-repeat="(key, value) in inventoryItem">{{value}} &nbsp;</td>
        </tr>
    </table>
</div>
